.loginput-box {
    /* border-radius: 7px; */
    padding: 1px 19px 0px;
    box-sizing: border-box;
    margin-top: 37px;
    height: 60px;
    background-color: #e0e0e0;
}

.loginput-box .lbl {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    color: black;
}

.loginput-box .input {
    height: 40px;
    line-height: 30px;
    border: 1px solid #e0e0e0 !important;
    width: 100%;
    font-size: 14px;
    border-radius: 7px;
    background-color: white;
    box-sizing: border-box;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 15px;
}

.loginput-box:focus {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

.registration-form {
    width: 430px;
    margin: 30px auto;
    padding: 10px;
    padding-bottom: 10px;
    padding-bottom: 20px;
    /* background-color: #4CAF50; */
    border-radius: 15px;
    /* border-radius: 50px; */
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.error {
    color: red;
    font-size: 14px;
}

.registrationbackground {
    padding-top: 10%;
    overflow-x: hidden;
}

.button10 {
    padding: 14px 16px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4CAF50;
    border-radius: 7px;
    box-sizing: border-box;
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    min-height: 10px;
    width: 100%;
    outline: none;

    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    will-change: transform;
}

.button10:disabled {
    pointer-events: none;
}

.button10:hover {
    color: #fff;
    background-color: #4CAF50;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button10:active {
    box-shadow: none;
    transform: translateY(0);
}

.login-form {
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    padding-bottom: 10px;
    padding-bottom: 20px;
    /* background-color: #4CAF50; */
    border-radius: 15px;
    /* border-radius: 50px; */
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    background-color: #e0e0e0;
}

.reset-form {
    width: 350px;
    margin: 30px auto;
    padding: 10px;
    height: 30ch;
    padding-bottom: 10px;
    padding-bottom: 20px;
    /* background-color: #4CAF50; */
    border-radius: 15px;
    /* border-radius: 50px; */
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.forgottext {
    color: #4CAF50;
    text-decoration: none;
    margin-top: 20%;
}

.forgottext:hover {
    color: #4CAF50;
}

.registertext {
    color: #4CAF50;
}

.registertext:hover {
    color: #4CAF50;
    text-decoration: underline;
}

.registerdiv {
    margin-top: 10%;
}
.registerdiv:hover {
    color: #4CAF50;
    text-decoration: underline;
}
.loginimage {
    width: 100%;
    height: 100%;
    
}

.loginbutton {
    padding: 14px 16px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4CAF50;
    border-radius: 7px;
    box-sizing: border-box;
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    min-height: 10px;
    width: 50%;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    will-change: transform;
}

.loginbutton:disabled {
    pointer-events: none;
}

.loginbutton:hover {
    color: #fff;
    background-color: #4CAF50;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.loginbutton:active {
    box-shadow: none;
    transform: translateY(0);
}


.buttonregister {
    padding: 14px 16px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4CAF50;
    border-radius: 7px;
    box-sizing: border-box;
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    min-height: 10px;
    width: auto;
    outline: none;

    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    will-change: transform;
}

.buttonregister:disabled {
    pointer-events: none;
}

.buttonregister:hover {
    color: #fff;
    background-color: #4CAF50;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttonregister:active {
    box-shadow: none;
    transform: translateY(0);
}

@media screen and (max-width: 767px) {
    .loginimage {
        margin-top: 20%;
        margin-bottom: 20%;
        padding: 10px 10px 10px;
    }
}